* { margin: 0px; padding: 0px; }

body {
	background: black;
}
#desktop{
	opacity: 1;
	color: white;
}

#tablet, #mobile, #print {
	opacity: 0
}
p {
  cursor: pointer;
}

p:hover {
  background: green;
}

/* iPhone 6 */
@media (min-width: 375px) and (max-width: 667px) { 
	
	body {
		background: white;
	}

	#mobile{
		opacity: 1;
	}

	#desktop, #tablet, #print {
		opacity: 0;
	}
}

/* print */
@media print {
	
	body {
		background: white;
	}

	#print{
		opacity: 1;
	}

	#desktop, #tablet, #mobile {
		opacity: 0;
	}
	h1{ display: block; page-break-after: always; }
}
h2{ display: block; page-break-before: always; }
}
}
	
